
/* Header */
.navbar {
     box-shadow: 0 0px 6px #ccc;
     z-index: 9;
     width: 100%;
     background: white;
 }

.nav-brand{
     letter-spacing: 2px;
     margin-left: 4rem;
}

.navbar-brand span{
     color: orange;
}

.about{
     margin: 60px 0;
    border: 1px solid #eee;
    padding: 16px;
    box-shadow: 0 0 10px #eee;
}

.rule h2{
     color: red;
    text-transform: uppercase;
    font-size: 1.25rem;
}

p{
     color: #656565;
}
textarea{
     width: 60%;
    height: 100px;

}
textarea:focus{
     color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

footer{
     background: #1f1f1f;
     padding: 15px;
}
.name-box p{
     margin: 0;
    text-align: center;
    color: white;
}

.breadcump{
     
          padding: 20px;
          border: 1px solid #eee;
          box-shadow: 0 0 7px #ccc
     }

#message{
     display: none;
}

#play-now-btn{
     padding: 7px 17px;
     color: white;
     background: rgb(50, 50, 50);
     display: inline-block;
     width: fit-content;
     margin: 5px 0;
     text-decoration: none;
     text-transform: uppercase;
     transition-duration: 1s;


}
#vedio{
     display: block;
}

#play-now-btn:hover{
     background: black;
}