* {
  margin: 0%;
  padding: 0%;
}
.winner-box {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  width: 80%;
  height: 700px;
  position: fixed;
  left: 10%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  top: 100px;
  transition-duration: 1s;
}
.winner {
  font-size: 3rem;
  font-family: cursive;
  color: white;
  letter-spacing: 2px;
}
.snake-board {
  background-image: url(./images/snakeBoard.png);
  height: 600px;
  width: 600px;
  margin: auto;
  background-color: white;
  position: relative;
  z-index: 3;
}
.player1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
  left: 10px;
  bottom: 10px;
  transition-duration: 1s;
}
.player2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: blue;
  border-radius: 50%;
  left: 10px;
  bottom: 10px;
  transition-duration: 1s;
}
.board {
  background: #ccc;
  padding: 6% 0px;
}
.row-block {
  width: 60px;
  height: 60px;
  border: 0px;
  padding: 5px;
  font-weight: 600;
  font-family: cursive;
  color: white;
}
.row {
  margin: 0;
  height: 60px;
  width: 100%;
  display: flex;
}
.row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.player {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: 600;
}
.playerBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  display: none;
}
.dice {
  border-radius: 50%;
  background: #ccc;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-board {
  position: absolute;
}
.step-board ul {
  list-style: none;
}
.playerS1 {
  left: 5px;
  color: red;
}
.playerS2 {
  right: 5px;
  color: blue;
  text-align: right;
}
.name {
  border-bottom: 2px solid;
  font-size: 1.3rem;
}
/* input-box-start */

.start-btn {
  width: fit-content;
  padding: 2px 30px;
  margin: auto;
  background: white;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
}
.start-btn:hover {
  transform: scale(1.2);
}

.player-input {
  padding: 6px;
  border-radius: 20px;
  border: 0px;
  outline: none;
}
.inp1 {
  color: red;
}
.inp2 {
  color: blue;
}
.input-heading h5 {
  font-family: sans-serif;
}
.first-screen {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
}
.hide-backdrop {
  display: none;
}
.Entry-box {
  position: absolute;
  padding: 50px;
  background: black;
  text-align: center;
  transition-duration: 1s;
}
.hide-Entry-box {
  display: none;
}
.hide {
  display: none;
}
.game-name {
  padding: 10px;
  font-family: cursive;
}
.game-name span {
  color: orange;
}
.step-board ul li {
  text-decoration: none;
  font-size: 0.9rem;
}
